<%- include("partials/header") %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <p>Olá Mundo!</p>
            </div>
        </div>
    </div>
</body>
<%- include("partials/footer") %>